.headline {
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-top: -300px;

    color: #D2D2D2;
}

.wrap {
    margin-top: 300px;
}

.slogan {
    margin-bottom: 40px;

    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    color: #D2D2D2;
}

.converterBtn {
    height: 66px;
    width: 45px;
    margin-left: 90px;
    border: none;
    background: url("../../../src/img/ConverterBtn.svg");

&:hover {
    opacity: 50%
}
}

.field {
    border: none;
    height: 30px;
    border-bottom: 1px solid #6FCF97 ;
    background: transparent;

&:placeholder-shown{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    color: rgba(169, 169, 169, 0.6);
}
}

.inputSubscript{
    margin-top: -15px;

    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;

    color: #A9A9A9;
}